body {
  background-color: #fff;
  font: normal 16px 'Source Sans Pro', sans-serif, Arial;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Oswald', sans-serif;
}

#app-container {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

.app-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-title {
  font-size: 3.25rem;
  line-height: 3.20rem;
  text-align: center;
}

.app-subtitle {
  font-size: 1.50rem;
  line-height: 1.625rem;
  font-weight: 300;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif, Arial;
}

.app-section__button,
.app-section__button--warning {  
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}

.app-section__button {
  background-color: #55C2D8;
  padding: 6px 20px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 300;
  margin-left: 10px;
}

/*SECTION Join our program*/

.email::placeholder {
  color: #fff;
}

/* Community Box */
.app-section__users {
  background-color: orange;
  /* margin-bottom: 70px; */
}

.app-section__users .app-title {
  color: aliceblue;
  margin-top: 88px;
}

.app-subtitle__users {
  width: 560px;
}

.user__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 315px;
  padding: 30px 25px;
}

.user--id {
  margin: 0 auto;
  margin-top: 5%;
}

.user:hover {
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
border-radius: 8px;
}
.user__img {
  display: inline-block;
  width: 83px;
  height: 83px;
  border-radius: 50%;
  background-color: rgba(220, 156, 78, 0.611);
}

.user__desc {
  font: 400 16px 'Source Sans Pro';
  text-align: center;
  line-height: 20px;
  color: #666666;
  margin-bottom: 40px;
}

.user__name {
  font: 700 12px 'Source Sans Pro';
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #464547;
}

.user__position {
  text-align: center;
  max-width: 110px;
font: 400 12px 'Source Sans Pro';
line-height: 16px;
color: #666666; 
}

@media only screen and (max-width: 768px) {
  .user__box {
    display: block;
    margin-top: 15px;
    max-height: 27rem;
    overflow: hidden;
  }

  .app-subtitle__users {
    width: 419px;
  }

  .user {
    padding: 30px 0;
    margin-bottom: 10rem;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.25);
  }

  .user__img {
    width: 150px;
    height: 150px;
  }
}

/*Join Us Program Style*/
.app-section--join-program {

  /* background: linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('assets/images/section-join-program.jpg'),
              center center no-repeat;  */
  background: linear-gradient(to top, 
                            rgba(5, 17, 18, .5), 
                            rgba(5, 17, 18, .5)), 
                            url(assets/images/section-join-program.jpg) no-repeat;            
  background-size: cover; 
  padding: 87px 30px 100px;
}

.app-title--join-section {
    color: rgb(255, 255, 255); 
    margin-top: 0px; 
    font-size: 48px;
}

.app-subtitle--join-section {
  max-width: 400px;
  margin: 0px auto; 
  color: rgba(255, 255, 255, 0.7); 
  width: 400px; 
  line-height: 32px;
}

form {
  margin-top: 63px; text-align: center;
}

input.email {
  padding: 10px 20px; 
  background: rgba(255, 255, 255, 0.15); 
  border: none; color: rgb(255, 255, 255); 
  outline: none; width: 400px; display: inline-block;        
}

input.app-section__button--subscribe {
  font: 400 14px 'Oswald', sans-serif; 
  margin: 0px 30px; 
  padding: 5px 15px; 
  border-radius: 18px; text-transform: uppercase; 
  text-align: center; letter-spacing: 0.1em;
}

.btn-toggle {
  position: absolute;
  top: 100px;
  right: 20px;
  padding: 10px;
  outline: none;
  border: 3px solid red;
  color: red;
} 


header {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    /* text-decoration: none; */
    background: coral;
}

header a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 10px;
  text-decoration: none;
}

header a.active {
  color: coral;
  background: #fff;
}

.not-found__wrap {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.not-found__box {
  background-color: #a9a9a9ab;
  display: inline-block;
  padding: 46px;
  border-radius: 5px;
}

.back-link {
  text-decoration: none;
  color: green;
}